
  
  .main{
     position: relative;
    justify-content: center;
      margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    width: 80%;
  color: #1d4d96;
    font-weight: 700;
  }
  
  
  
  .container {
        text-align: left;
        width: 60%;
  position: relative;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: -60%;
  
  }
  
  .campos{
        color: #2563c1;
  }
  
  #curso{
        color: #2563c1;
  }
  .row{
    margin-left: 0%;
    width: 120%;
    background-color: #2d2b3b;
    margin-right: 20%;
    padding: 1%;
    border-radius: 25px;
  }
  table{
    margin-left: 0%;
    padding-left: 0%;
    width: 100%;
    
  }
  
  
  .container tr:nth-child(odd) {
        background-color: #323C50;
  }
  
  
  .container tr:nth-child(even) {
        background-color: #2C3446;
  }
  
  .container th {
        background-color: #292735;
  }
  
  
  @media (max-width: 800px) {
  .container td:nth-child(6),
  .container th:nth-child(6) { display: none; }
  }
  
  
  table.dataTable>tbody>tr.child span.dtr-title{
      color: #2A5ECA;
  }
  table.dataTable>tbody>tr td.dados{
  
      color: #dedede;
  }
  
  input.form-control.form-control-sm{
          background: transparent;
  
    border: 2px solid #2A5ECA
  }
  