/*===== ROOT VARIABLES =====*/
:root {
  --hue: 349;
  --first-color: hsl(var(--hue), 68%, 45%);
  --first-color-dark: hsl(var(--hue), 68%, 40%);
  --brand: hsl(0, 0%, 90%);
  --brand-medium: hsl(0, 0%, 90%);
  --brand-dark: hsl(0, 0%, 80%);
  --brand-light: hsl(0, 0%, 95%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
}

/*===== RESET CSS =====*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--brand-light);
  align-items: center;
  color: var(--black);

  #root {
    display: flex;
  }

  a {
    text-decoration: none;
    color: var(--black);
  }

  &.dark-theme {
    /* Dark Theme Variables */
    --brand: hsl(249, 16%, 15%);
    --brand-medium: hsl(249, 16%, 16.5%);
    --brand-dark: hsl(249, 16%, 12%);
    --brand-light: hsl(249, 15%, 18%);
    color: var(--white);

    .nav-logo {
      content: url(../assets/Logotipo-dark.png);
    }

    a {
      color: var(--white);
    }

    #change-contrast {
      .contrast {
        border: 2px solid var(--white);

        &::before {
          background-color: var(--white);
        }
      }

      &:hover {
        .contrast {
          border: 2px solid var(--first-color);

          &::before {
            background-color: var(--first-color);
          }
        }
      }
    }
  }

  &.body-contrast {
    /* Constrast Theme Variables */
    --brand: hsl(0, 0%, 2.5%);
    --brand-medium: hsl(0, 0%, 3.5%);
    --brand-dark: hsl(0, 0%, 1.5%);
    --brand-light: hsl(0, 0%, 10%);
    background-color: #000;
    color: var(--white);

    a {
      color: #c7c700;
      text-decoration: underline;
    }

    .nav-logo {
      content: url(../assets/Logotipo-contrast.png);
    }

    #change-contrast {
      &:hover {
        .contrast {
          border: 2px solid #ff0;

          &::before {
            background-color: #ff0;
          }
        }
      }
    }

    .accessibility {
      * {
        text-decoration: none;
      }
    }

    #change-theme {
      display: none;
    }

    .nav-link-active *,
    .link-exit,
    a:hover,
    a:hover *,
    .info-test b,
    .materia {
      color: #ff0;
    }

    .content-title-icon,
    .modal-content-icon,
    .modal-content-text b {
      color: #c7c700;
    }

    .important-announcement {
      color: var(--white);
    }

    .modal-button {
      a {
        background-color: #c7c700;
        color: var(--white);
      }
    }
  }
}
