
    
.bodyPlanoDeAula {
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
      display: flex;

    /* background-image: url(imagem/Screenshot_13.png) ; */
  }

.containerForms{
    background-color: rgba(255, 0, 0, 0);
    width: 500px;
    height: 600px;
    text-align: center;
    margin: 5% 5% 0% 5%;
  
}
.formPlanoDeAula{
    background-color: var(--theme-dark);
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
 
}
.input_text_plano, .submit_plano_aula{
    width: 350px;
    margin: 0px  40px 0px 50px;
    height: 40px;
   background-color: var(--theme-light);
   border: 1px solid #2A5ECA;
    font-size: 20px;
    border-radius: 20px;
    transition: 1s;
    color: var(--title-forms);
}
.input_text_plano::placeholder{
    color: var(--title-forms);
}
.input_text_plano{
    padding: 0px 0px 0px 10px;
}
.submit_plano_aula:hover{
    background-color: #2A5ECA;
    border: 1px solid black;
   
}
.submit_plano_aula{
    margin-top: 20px;
    padding: 10px;
}

hr{
    border: 0;
    height: 1px;
    background-color: #2A5ECA;
}

.select_cursos{
    width: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    background-color: var(--theme-light);
   color: var(--title-forms);
    border: 1px solid #2A5ECA;
   
}
.select_aulas{
    color: var(--title-forms);
    width: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    border: 1px solid #2A5ECA;
    background-color: var(--theme-light);
}
select:invalid{
    color: gray
}
option{
    height: 30px;
    border: 1px solid #cbcbcb;
    padding-left: 17px;
    padding-top: 12px;

}
input[type=file]{
    display: none;
}
.label-file{
   
    height: 30px;
    background-color: var(--theme-light);
    border-radius: 20px; 
    margin-bottom: 0px;
    color: var(--title-forms);
    padding: 6px 20px;
    border: 1px solid #2A5ECA;
}
h1{
    font-size: 30px;
     color: var(--title-forms); font-weight: bold;
}