@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Perfil do usuario */
.perfil {
  position: absolute;
    margin-left: 10%;
    margin-right: auto;
  height: 25rem;
  width: 50rem;
  display: flex;
  top: 10%;
}

/* Imagem de perfil do usuario */
.perfil img {
  height: 16rem;
  width: 20rem;
  margin-top: 0rem;
  margin-right: 2rem;
}

/* Texto Conteudo Perfil do usuario */
.profile {
  line-height: 1.7rem;
  font-family: 'Roboto', sans-serif;
}
.profile p{
  font-size: 15px;
}
/* Conteudo do usuario */
.Text-active {
  color: #2e4897;
  font-weight: bolder;
  font-size: 15px;
}

/* Tarefas */
.tarefas {
 
  background-color: var(--theme-dark);
  border-radius: 24px;
  opacity: 0.8;
  position: absolute;
  margin-top: 29%;
  width: 22rem;
  height: 14rem;
  right: 5rem;
}

/* Tarefas Titulo */
.tarefas h1 {
  color: #2e4897;
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
}

/* Tarefas Conteudo OL */
.tasks {
  margin: 1rem;
  color: black;
  font-weight: bolder;
}

/* Tarefas Conteudo LI */
.tasks li {
  padding: 0.4rem;

  margin-left: 20px;
}

/* Tarefas Conteudo LI Links */
.tasks li a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  margin-left: 20px;
}