

.containerNotas{
    background-color: var(--theme-dark);
    width: 800px;
    height: 100%;
    margin-left: 10%;
    border-radius: 20px;
}
.headerNotas{
    display: flex;

}
label{
    justify-content: right;
    align-items: right;
    text-align: right;
    margin-top: 30px;
}
h2{
    margin-left: 40px;
}

.containerNotasAluno{
    width: 800px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.cardNotasAluno{
    background-color: var(--theme-main);
    flex: 1 1 300px;
    height: 120px;
    margin:  10px 30px 10px 30px;
    border-radius: 20px;
    display: flex;

}
.cardNotasAluno img{
    margin-top: 20px;
    margin-left: 25px;
    width: 80px;
    height: 65px;
    
    
}

input[type=date]{
   


    border: none;
    background-color: #2561D1;
    padding: 10px;
    border-radius: 20px;
}


.handleEnviar{
    margin-left: 10px;color: var(--title-forms); border: 2px solid #2A5ECA; background-color: transparent;  padding: 10px;
                    border-radius: 20px; width: 150px;
                    transition: 1s;
                    font-size: 10px;
}
.handleEnviar:hover{
    background-color: #2A5ECA;
}
.titleFilterRa{
    margin-left: 20px;
}
.titleFilterAlfa{
    margin-left: 35%;
}
.filter{
    width: 10px; height: 15px; margin-top: 4%; margin-left: 10px;
            
    background-color: transparent; border: 1px solid #2A5ECA;
}
.handleTitleChamadaCurso{
    float: left; margin-left: 40px; color: #2A5ECA;
}
.containerSubHeadle{
    padding-top: 20px; margin-left: 60%;
}
.cardAluno{
    margin-left: 20px;
}
.nomeAluno{
    margin-bottom:-12px;
}
.identrAluno{
    margin-bottom: 10px;
}
.infosMais{
    text-decoration: none; color: #2A5ECA;
}
.cardButtonFaltou{
    margin: 8% auto;
}
.btnFaltou{
    width: 20px; height: 20px; border-radius: 50%; border: 2px solid #2A5ECA; background-color: transparent; margin: 25px 0px 0px 30%;
}
.pFaltou{
    margin-top: 5px;
}
.input_text_notas{
    color: var(--title-forms);
    background-color: transparent;
    width: 40px; height: 40px; text-align: center;border-radius: 50%; padding-left: 0; margin: 0px  20px 0px 0px;
    border: 2px solid #2A5ECA;
    font-size: 20px;
}
.containerChamada{
    margin-left: 25%; margin-right: 10%;
}
.alfa_order{
    margin-left: 35%;
}
.bt_alfa_order, .bt_ra_order{
    width: 10px; height: 15px; margin-top: 4%; margin-left: 10px;
    background-color: transparent; border: 1px solid #2A5ECA;

}.ra_order{
    margin-left: 20px;
}
.desc_curso_semestre{
    font-size: 15px;
    margin-top: 30px;
    float: left; margin-left: 40px; color: #2A5ECA;
}
.container_data_enviar{
    
    padding-top: 20px; margin-left: 60%;
}
.bt_enviar_nota{
    margin-left: 10px;color: var(--title-forms);
 background-color: transparent;  padding: 10px;
        border-radius: 20px; width: 150px;
        border:1px solid #2A5ECA;
        font-size: 10px;
}
.bt_enviar_nota:hover{
    transition: 1.5s;
    background-color: #2A5ECA;
}
.txt_nome_do_aluno{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom:-12px;
}
.txt_ra_aluno{
    margin-top: 20px;
    margin-bottom: 10px;
}
.link_mais_infos_aluno{
    text-decoration: none; color: #2A5ECA;
}
.container_titulos_das_notas{
    display: flex;
}
.titulo_notas_nota_um, .titulo_notas_nota_dois, .titulo_notas_nota_tres, .titulo_notas_trabalho{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.titulo_notas_nota_um{
    margin-left: 172%;
}
.titulo_notas_nota_dois, .titulo_notas_nota_tres{
    margin-left: 21%;
}
.titulo_notas_trabalho{
    margin-left: 27%;
}
.container_input_notas{
    margin: 8% auto; display: flex;
}