/*===== HEADER AND NAVIGATION =====*/
header {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;

  .accessibility {
    background-color: var(--theme-dark);
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0 0.25rem;
    place-items: center;
    z-index: 10;

    .accessibility-link {
      display: flex;

      &:hover {
        .accessibility-icon {
          color: var(--first-color-main);
        }

        sup {
          color: var(--first-color-main);
        }
      }

      .accessibility-icon {
        font-size: 2rem;
        align-items: center;
        transition: color 0.2s;
      }

      sup {
        font-size: 0.75rem;
        transition: color 0.2s;
      }
    }

    #change-contrast {
      background: none;
      border: none;
      &.on {
        .contrast {
          border: 2px solid var(--contrast-dark);
          padding: 0;

          &::before {
            background-color: var(--contrast-dark);
            border: none;
            width: 0.75rem;
            height: 1.5rem;
            border-radius: 0 50% 50% 0;
            transform: translateX(0.75rem);
          }
        }
      }

      .contrast {
        width: 1.75rem;
        height: 1.75rem;
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        border: solid 2px var(--black);
        cursor: pointer;

        &::before {
          content: "";
          display: inline-block;
          width: 0.75rem;
          height: 1.5rem;
          border-radius: 50% 0 0 50%;
          transition: transform 200ms;
          background-color: var(--black);
        }
      }

      &:hover {
        .contrast {
          border: 2px solid var(--first-color-main);

          &::before {
            background-color: var(--first-color-main);
          }

          &.on {
            border: 2px solid var(--first-color-main);

            &::before {
              background-color: var(--first-color-main);
              border: none;
            }
          }
        }
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 100vh;
    padding: 3rem 0;
    min-width: 20rem;
    flex-wrap: nowrap;

    .nav-logo {
      width: 11rem;
      height: max-content;
      content: url(../../assets/logo.png);
    }

    /* By Peter Pool */
    .nav-menu {
      overflow-y: scroll;
      max-height: 20rem;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: var(--theme-medium);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        border: 3px solid var(--theme-dark);
      }

      @media screen and (max-width: 1150px) {
        position: fixed;
        left: 0;
        top: 13rem;
        height: 0;
        width: 100vw;
        background-color: var(--theme-medium);
        text-align: center;
        align-items: center;
        transition: 0.5s;
        z-index: 1;
        visibility: hidden;
        border-radius: 0 0 20px 20px;
      }

      &.show-menu {
        padding: 2rem 0;
        height: 18.375rem;
        visibility: visible;
      }

      .nav-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        width: max-content;
        margin: 0 auto;
        padding: 0 1rem;
      }
    }
    .nav-link {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      width: max-content;

      &.change-theme {
        background: none;
        border: none;
        cursor: pointer;
        margin-top: 1rem;
        color: var(--first-color-main);

        &.on {
          .checkbox {
            border: 2px solid var(--first-color-main);
            padding: 0;

            &::before {
              background-color: var(--first-color-main);
              border: none;
              width: 1rem;
              height: 1rem;
              transform: translateX(0.75rem);
            }
          }
        }
        .checkbox {
          width: 2rem;
          height: 1.25rem;
          padding: 0.2rem;
          display: flex;
          align-items: center;
          background-color: transparent;
          border-radius: 1rem;
          border: 2px solid var(--first-color-main);
          cursor: pointer;

          &::before {
            content: "";
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            clip-path: circle();
            transition: transform 200ms;
            background-color: var(--first-color-main);
          }
        }

        &:hover {
          .checkbox {
            border: 2px solid var(--first-color-dark);

            &::before {
              background-color: var(--first-color-dark);
            }

            &.on {
              border: 2px solid var(--first-color-main);

              &::before {
                background-color: var(--first-color-main);
                border: none;
              }
            }
          }
        }
      }

      &:hover * {
        color: var(--first-color-dark);
      }

      .nav-link-active * {
        color: var(--first-color);
      }

      .link-icon {
        font-size: 1.75rem;

        &.link-exit {
          color: var(--first-color-main);
        }
      }

      .link-text {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }

    .nav-options {
      display: flex;
      align-items: center;
      gap: 3rem;

      .menu-burger {
        cursor: pointer;
      }
    }
  }
}
