main.aluno {
  display: grid;
  gap: 2.5rem;

  .content {
    display: flex;
    align-items: center;
    gap: 5rem;

    &.content-2 {
      display: grid;
      border-radius: 1rem;
      gap: 2rem;
      padding: 2.5rem 3.5rem;
      background: var(--theme-main);

      .horarios {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;

        > div {
          display: grid;
          gap: 0.5rem;

          * {
            margin: 0;
            padding: 0;
          }

          ul {
            list-style: none;
          }

          .dia {
            font-weight: 500;
            text-align: center;
            font-size: 1.25rem;
          }

          .quadro {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 0.85rem;
            background: var(--theme-light);
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;

            li:nth-child(1) {
              margin-bottom: 1rem;
              color: var(--first-color-main);
            }

            .materia {
              color: var(--first-color-main);
            }

            b {
              font-weight: 500;
            }
          }
        }
      }

      .content-title {
        margin: 0;
        display: flex;
        gap: 1rem;
        font-weight: 600;
      }

      .calendar {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        font-weight: 300;

        &.calendar-2 {
          grid-template-columns: auto;

          .calendar-info {
            .info-test {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              gap: 1.5rem 3rem;
            }

            .submit-link {
              color: var(--first-color-main) !important;
              font-weight: 500;
              display: flex;
              gap: 0.5rem;
              align-items: center;
              align-self: flex-end;
            }
          }
        }

        @media screen and (max-width: 1425px) {
          grid-template-columns: 1fr;
        }

        .calendar-info {
          background: var(--theme-light);
          padding: 1rem;
          display: flex;
          gap: 2.5rem;
          align-items: center;
          border-radius: 1rem;
          justify-content: space-between;

          * {
            margin: 0;
          }

          b {
            color: var(--first-color-main);
            font-weight: 600;
          }
        }
      }
    }

    @media screen and (max-width: 1050px) {
      flex-direction: column;
    }

    .content-info {
      display: grid;
      background: var(--theme-main);
      padding: 1.5rem;
      border-radius: 1rem;

      .content-title {
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
      }

      .content-user {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .user-img {
          align-self: center;
          width: 12.5rem;
        }

        .info-user {
          .info-user-text {
            margin: 0;

            b {
              font-weight: 500;
            }
          }
        }
      }
    }

    .content-office {
      display: grid;
      border-radius: 1rem;
      gap: 1rem;
      width: max-content;
      background-color: var(--theme-main);

      .office-title {
        background-color: var(--theme-dark);
        border-radius: 1rem 1rem 0 0;
        padding: 1rem;
        text-align: center;

        .office-title-text {
          font-weight: 600;
        }
      }

      .office-text {
        display: grid;
        gap: 1rem;
        padding: 1rem;

        span {
          display: grid;
        }
      }

      .office-footer {
        background-color: var(--theme-dark);
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;
        text-align: center;
      }
    }

    .profile {
      display: grid;
      gap: 1.5rem;
      background-color: var(--theme-main);
      padding: 4rem;
      border-radius: 1rem;
      position: relative;

      .modal {
        display: none;
        overflow: hidden;
        opacity: 0;
      }

      .profile-options {
        display: flex;
        gap: 2.5rem;

        .profile-img {
          width: 6.25rem;
        }

        .profile-buttons {
          display: flex;
          align-items: center;
          gap: 1.5rem;
        }
      }

      .profile-info {
        display: grid;
        gap: 1rem;

        h2 {
          font-weight: 600;
          margin: 0;
          font-size: 1.5rem;
        }

        .info-course {
          display: grid;
          gap: 0.5rem;

          .info-course-title {
            font-weight: 500;
            font-size: 1.125rem;
          }

          div {
            p {
              margin: 0;

              b {
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .options {
      display: grid;
      gap: 2rem;
      background: var(--theme-main);
      border-radius: 1rem;
      align-items: center;
      padding: 2rem 4rem;

      .options-container {
        display: grid;
        text-align: center;

        .options-title {
          display: flex;
          font-size: 1.25rem;
          font-weight: 600;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .important-announcement {
    display: grid;
    gap: 0.5rem;
    color: var(--first-color-main);
  }
}
